@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

li {
  font-size: 1.25rem;
}

#AlanImg {
  border-radius: 15px;
  width: 180px;
  height: 180px;
  box-shadow: 6px 11px 20px -1px rgba(0, 0, 0, 0.75);
}

h1,
h2,
li {
  font-family: 'Old Standard TT', serif;
}

p {
  font-family: 'Old Standard TT', serif;
  font-size: large;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 3rem;
}

.border-landing {
  border: 1px solid black;
  border-radius: 10px;
  padding: 3em 8rem;
  background-color: #510002
}

.hero-text {
  max-width: 750px;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.aboutH1 {
  text-align: center;
}

#logoschool {
  width: 300px;
  height: 300px;
}

nav {
  background-color: black;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav a:hover {
  background-color: grey;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 3rem;
  padding: 2rem;
}


#tabs {
  width: 250px;
  height: 250px;
}

#stimi {
  width: 250px;
  height: 200px;
  background-color: #4b1213;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 3rem;

}

.interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.buttons {
  display: flex;
  gap: 1rem;
}

.qual-link {
  text-decoration: none;
  color: white;
}

.tech-link {
  text-decoration: none;
  color: white;
}

button {
  padding: 1rem;
  background: black;
  color: white;
  border-radius: 10px;
}

.content-wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.tech-title {
  font-size: 1.5em;
  padding-bottom: 2rem;
}

.tech-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.tech-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 900px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #510002;
  padding: 1.5rem;
  box-shadow: 8px 12px 13px 2px rgb(0 0 0 / 75%);
}

.tech-desc {
  display: flex;
  gap: 1.5rem;

  justify-content: center;
  flex-direction: row-reverse;
}

.serves-wrapper {
  display: flex;
  flex-direction: column;
}

.proj-wrapper {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.giving-title {
  display: flex;
  justify-content: center;
}

.page-foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 25px;
}

/* toggle css; */

.page-foot {
  display: inline;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 25px;
}

.about-button {
  width: 100px;
  padding: 10px;
}

.about-container {
  position: relative;
  left: 400px;
}


.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social-list li {
  padding: 5px;
  width: 100%;
}

.social-list li:hover {
  cursor: pointer;
  transform: translateY(-.2em);
}

.connect-message {
  font-weight: bold;
  margin-right: .5rem;
  font-size: 1.25rem;
}

.tech-item h2 {
  color: white;
}

.tech-item p {
  color: white;
}

.tech-button:hover {
  cursor: pointer;
  transform: translateY(-.4em);
}

.about-link {
  color: orange;
}

.about-section {
  border: 3px solid black;
  background-color: #4b1213;
  color: white;
  border-radius: 10px;
  padding: 1rem 3rem;
}

.prog-lang-list {
  list-style: none;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}


.prog-lang-list li {
  display: inline-block;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.qual-link:hover {
  cursor: pointer;
  transform: translateY(-.2em);
}

.proj-wrapper {
  border: 2px solid black;
  border-radius: 15px;
  padding: 2rem;
  margin-bottom: 4rem;
  background-color: #4b1213;
  color: white;
  width: 350px;
  height: 380px;
  margin-top: 6rem;
  box-shadow: 8px 12px 13px 2px rgb(0 0 0 / 75%);
}

.services-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}


.my-container {
  margin: 0;
  padding: 0;
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myimg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.real-wrap {
  padding: 0;
  margin: 0;
  width: 50%;
  border-radius: 20px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4b1213;
  box-shadow: 18px 12px 13px 0px rgb(0 0 0 / 75%);

}

.para-wrap {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.myp {
  text-align: center;
  color: white;
}

#index-icon {
  font-size: 1.25rem;
}

.java,
.python,
.cpp,
.html,
.css,
.js {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  flex-direction: column-reverse;
}

.service-title {
  padding-top: 4rem;
}

#dev-img {
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 8px 12px 13px 2px rgb(0 0 0 / 75%);
}

.proj-title {
  text-align: center;
}

.border-landing{
  display: none;
}

.first-iter {
  display: none ;
}

.copy-img{
  display: none;
}
.hide{
  display: none;
}